<% layout("/layouts/boilerplate") %>
<style>
    
     .card{
        list-style: none !important;
        background-color: rgb(128, 128, 128,0.2);
     }
     .card a{
        text-decoration: none !important;
        color: #000;
     }
     h1{
        position: relative;
        text-align: center;
     }
     .buttons{
        position: relative;
        display: flex;
        gap: 1.5rem;
        margin-top: 1.5rem;
     }

</style>
    <h1>Create & Read the  Blogs!!</h1>
    <a href="/new" class="btn btn-primary mb-4">Create New Blog</a>
    <ul class="card">
        <% blogs.forEach(blog => { %>
            <div class="card-body">
            <li class="card-subtitle mb-2 text-body-secondary">
                <h2 class="links"><a href="/blogs/<%= blog.id %>"><%= blog.title %></a></h2>
                <p>Created by: <strong><%= blog.ownerUsername %></strong></p>
                <div class="buttons">
                    <% if (currentUser && currentUser._id.equals(blog.owner)) { %>
                        <a href="/blogs/<%= blog.id %>/edit" class="btn btn-light mt-2">Edit</a>
                        <form action="/blogs/<%= blog.id %>?_method=DELETE" method="POST">
                            <button type="submit" class="btn btn-danger mt-2">Delete</button>
                        </form>
                    <% } %>
    
                </div>
            </li>
            </div>
            <hr>
        <% }) %>
    </ul>
    
